.List__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
    margin: 1rem auto auto auto;
    width: 100%;
}

.List {
    display: grid;
    align-self: stretch;
    justify-self: stretch;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    font-family: var(--font-primary);
    list-style-type: none;
    height: fit-content;
    margin: 1rem auto;
    grid-row-gap: 1rem;
}