.List {
    margin-top:2rem;
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(1,1fr);
    font-family: var(--font-primary);
    list-style-type: none;
    height:100%;
    margin:1rem auto auto auto;
}