.Form {
    justify-self: flex-end;
    display:flex;
    justify-content:space-between;
    width: 100%;
    align-items:center;
    margin:1rem 0 0 0;
}


.Input__container {
    border-radius: 12px;
    overflow: hidden;
    border-style: none;
    background-color: #FFF5ED;
    border:2px solid #F2AE72;
    font-size: inherit;
    color: inherit;
    width: 90%;
    height: 3.0625rem;
    padding:0 2rem;
}