.Button__Container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.Button__Container span {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button__Container:active {
    transform: translateY(3px);
    transition: all 2ms;
}

.Button__Container:active span {
    filter: brightness(100%);
}

.Button__Container:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.primary {
    background-color: var(--primary-color);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border-bottom: 4px solid var(--primary-accent);
    transition: all 2ms;
}

.deleteItem {
    height: 100%;
    border-radius: 12px 0 0 12px;
    background-color: var(--tertiary-color);
}

.deleteItem span {
    padding: 5px;
}

.deleteItem:active {
    transition: all 2ms;
}

.deleteAll {
    background-color: var(--tertiary-color);
    padding: 5px;
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border-bottom: 4px solid var(--tertiary-accent);
    transition: all 2ms;
}

.modal {
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    padding: 0.5rem 0.7rem;
}

.delete {
    background-color: var(--font-color);
    color: white;
}

.outline {
    background-color: transparent;
    border: 1px solid var(--tertiary-color);
    color: var(--font-color);
}

.outline:hover{
    background-color: var(--tertiary-color);
    filter:brightness(120%);
}