.Button__Container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    border-style: none;
    border-bottom: 4px solid var(--primary-accent);
    transition: all 2ms;
}

.Button__Container:active {
    transform: translateY(3px);
    transition: all 2ms;
    filter: brightness(80%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Button__Container:active span {
    filter: brightness(100%);
} 

.Button__Container span {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}